body {
    background-color: black;
    color: lime;
    font-family: 'Courier New', monospace;
    text-align: center;
}

.container {
    width: 60%;
    margin: 50px auto;
}

h1 {
    font-size: 24px;
    text-shadow: 0px 0px 10px lime;
}

textarea, input {
    background: black;
    color: lime;
    border: 1px solid lime;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    text-shadow: 0px 0px 5px lime;
}

button {
    background: lime;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    box-shadow: 0px 0px 5px lime;
}

button:hover {
    background: darkgreen;
}

.result, .hidden-message {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

.hidden-message {
    display: none;
    color: red;
}

#loadingLogs {
    text-align: left;
    width: 80%;
    height: 250px;
    margin: auto;
    font-size: 14px;
    color: lime;
    overflow-y: auto;
    background: black;
    border: 1px solid lime;
    padding: 10px;
    display: none;
    box-shadow: 0px 0px 15px lime;
}

#retrievedText {
    font-size: 18px;
    font-weight: bold;
    color: cyan;
    display: none;
    margin-top: 20px;
}